@font-face {
  font-family: fenix-menu;
  src: url("fonts/Fenix-Regular.ttf");
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: right;
  justify-content: right;
  background: rgba(255, 255, 255, 0.8);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.nav-menu a {
  font-family: fenix-menu;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 3vh;
}

.nav-menu a:hover {
  font-weight: bold;
}

.nav-menu li {
  padding: 0px 20px 0px 20px;
  list-style-type: none;
}

#home {
  display: flex;
  background: rgba(0, 0, 0, 0);
  padding-top: 5em;
  align-items: center;
  align-content: center;
  justify-content: center;

}

.headline{
  max-height: 75em;
  max-width: 45em;
}

.arrow-down-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-right: 10em;
  margin-top: 5em;
  padding-bottom: 10em;
}

.arrow-down{
  border: 0;
  max-height: 150px;
  max-width: 250px;
  opacity: 0.8;
}

.arrow-down:hover {
  opacity: 1;
}

.click-me{
  max-height: 150px;
  max-width: 250px;
}

#article-container{
  font-family: fenix-menu;
  display: flex;
  justify-content: left;
  align-items: left;
  align-content: left;
  flex-direction: column;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 5em;
  padding-top: 10em;
}

.article-border{
  border-style: solid;
  padding: 1em;
}

#article-container h2{
  font-size: 2em;
}


#about{
  font-family: fenix-menu;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 5em;
  padding-bottom: 5em;
  margin-top: 2em;
}

#about h2{
  font-size: 2em;
}